.div_main_box{
width:99%;
height:auto;
margin-left:9px;}

.div_main_box .div_main_top{
width:99%;
height:35px;
float:left;
border-left:1px solid #dddddd;
border-right:1px solid #dddddd;}

.div_main_box .div_main_top h1{
font-size:13px;
color:#666;
line-height:35px;
text-indent:15px;}

.div_main_box .div_main_top h1 a{
font-weight:500;
color:#F30;}

.div_main_box .div_main_top h1 a:hover{
color:#06F;}

.div_main_box .div_main{
width:98%;
height:auto;
border:1px solid #dddddd;
padding:5px;}

.div_main_box .div_main table{
width:100%;
background:#F0F0F0;
}

.div_main_box .div_main table tr{
background:#FFFFFF;}

.div_main_box .div_main table tr td{
padding:5px;
font-size:13px;}

.div_main_box .div_main table tr td ._input{
width:160px;
height:25px;
background:#FFF;
border:1px solid #dddddd;}

.div_main_box .div_main table tr td ._input2{
width:400px;
height:150px;
background:#FFF;
border:1px solid #dddddd;}

/*批量发送短信息部分样式*/
div.centent {
float:left;
text-align: center;
margin: 10px;}

.batch_span{ 
display:block; 
margin:2px 2px;
padding:4px 10px; 
background:#898989;
cursor:pointer;
font-size:12px;
color:white;}

.addressbook_div{
float:left;
width:500px;
height:auto;
border:1px solid #ccc;
padding-bottom:15px;
}

.addressbook_div img{
margin-left:20px;
margin-top:20px;
float:left;}

.addressbook_div span{
width:auto;
margin-top:20px;
float:left;
line-height:30px;
font-size:13px;
margin-left:10px;}

.addressbook_div span em{
font-style:normal;}



